html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body{
width:100%;
height:100%;
background: #f2f2f2;
overflow-x: hidden;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
}

:is (h1,h2,h3,h4,h5,h6){
    font-family:"Alegreya";
    font-style: serif;
}




/* Position text in the middle of the page/image */
.image{
    position: relative;
    background: green; /* IE */
}
.image h1{
    z-index: 2;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    font-size: 350%;
    width: 100%;
    height: 26px;
    padding: 0;
    margin: 0;
    margin-top: -13px; /* 1/2 height */
    text-align: center;
}
.image img{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:green
}


.closeup-pic {
  border-radius:50%;
  margin-left:1%;
  float:left;
  padding: 40px;
}

/* The side navigation menu */
.sidebar {
  width: 13%;
  background-color: #373740;
  position: fixed;
  top:0%;
  left:0%;
  height: 100%;
  overflow: fixed;
  text-align: left;
  text-indent:10%;
  font-family:"Alegreya";
  font-style: normal;
  font-size:150%;
  line-height: 200%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  border-radius:0%;
  color: #afb0bd;
  text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
    font-size:95%;
    padding-left:0;
    background:#4d4d59;
}

.sidebar ul ul {
    list-style-type: none;
    font-size:85%;
    padding-left:0;
    background:#656573;
}

.sidebar ol {
    font-size:140%;
}

/* Active/current link */
.sidebar a.active {
  background-color: #272729;
  color: white;
  font-weight: bold;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: white;
  font-weight: bold;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 14.0%;
  margin-right:2%;
  height:auto;
  font-size: 100%;
  font-family: "Alegreya";
  font-style: normal;
  font-variant: serif;
  line-height: 20%;
  text-align:justify;
  text-justify: inter-word;
  background: white;
}

div.content p {
  line-height: 150%;
  width:90%;
  margin-right:auto;
  margin-left:auto;
  font-size: 150%;
}

div.content ul {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  line-height:150%;
  font-size: 150%;
}

div.content ol {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10px;
  line-height:150%;
  font-size: 150%;
}

div.content h1 {
    margin-left: 0%;
    font-size:300%;
    padding:35px;
    text-align:center;
}
div.content h2 {
    margin-left: 2%;
    font-size:250%;
    padding:35px;
    text-align:left;
}

div.content  h3{
    margin-left: 2%;
    font-size:200%;
    padding:35px;
    text-align:left;
}

div.content  h4{
    margin-left: 2%;
    font-size:150%;
    padding:35px;
    text-align:left;
}
div.content blockquote {
    text-align:center;
    margin-left:15%;
    margin-right:15%;
    font-family:'Courgette';
    font-style: cursive;
    align: center;
    font-size: 30px;
    margin-left: 15%;
    padding: 25px;
}


div.narrow {
  font-family: "Alegreya";
  font-style: normal;
  font-variant: serif;
  line-height: 30px;
  margin-right:35%;
  margin-left:15%;
  font-size: 24px;
}

div.narrow a:link {
  color: blue;
  font-weight:bold;
  background-color: transparent;
  text-decoration: underline;
}

div.narrow a:visited {
  color: red;
  font-weight:normal;
  background-color: transparent;
  text-decoration: underline;
}

div.narrow li{
    margin-bottom: 25px;
}

img.fig{
    width:60%;
    margin-left:20%;
    margin-right:auto;
}

/*figure {
    display: inline-block;
}
*/
figure figcaption {
    padding: 10px;
    margin-left: 10%;
    margin-right:10%;
    border: 1px dotted blue;
    text-align: justify;
    line-height:150%;
    font-size: 130%;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 770px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  div.content h1{margin-left:0; font-size: 200%;}
}

/* On screens that are less than 450px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 450px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 


/* For the thoughtbox page */

.thumbnail {
  position: relative;
  -ms-zoom: 0.55;
  -moz-transform: scale(0.55);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.55);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.55);
  -webkit-transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail iframe {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
