html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body{
width:100%;
height:100%;
background: #f2f2f2;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
}

:is (h1,h2,h3){
    font-family:"Alegreya";
    font-style: serif;
}

blockquote{
    font-family:'Courgette';
    font-style: cursive;
    align: center;
    font-size: 30px;
    margin-left: 15%;
    padding: 25px;
}



/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgba(0,0,0, 0.2); /* Black w/opacity/see-through */
  color: white;
  font-family:"Alegreya";
  font-style: serif;
  font-weight: normal;
  font-size: 300%;
  border-bottom-style: solid; 
  border-color: black;
  border-width:thick;
  position: absolute; /* Stay fixed */
  top: 1%;
  z-index: 2;
  width: auto;
}

.closeup-pic {
  border-radius:50%;
  margin-left:1%;
  float:left;
  padding: 40px;
}

/* The side navigation menu */
.sidebar {
  width: 13%;
  background-color: #373740;
  position: fixed;
  top:0%;
  left:0%;
  height: 100%;
  overflow: fixed;
  text-align: left;
  text-indent:10%;
  font-family:"Alegreya";
  font-style: normal;
  font-size:150%;
  line-height: 200%;
}

/* Sidebar links */
.sidebar a {
  display: block;
  border-radius:0%;
  color: #afb0bd;
  text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
    font-size:95%;
    padding-left:0;
    background:#4d4d59;
}

.sidebar ul ul {
    list-style-type: none;
    font-size:85%;
    padding-left:0;
    background:#656573;
}

.sidebar ol {
    font-size:140%;
}

/* Active/current link */
.sidebar a.active {
  background-color: #272729;
  color: white;
  font-weight: bold;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  color: white;
  font-weight: bold;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 14.0%;
  margin-right:2%;
  height:auto;
  font-size: 100%;
  font-family: "Alegreya";
  font-style: normal;
  font-variant: serif;
  line-height: 20%;
  text-align:justify;
  text-justify: inter-word;
  background: white;
}

img.bgimg{
    width: 100%;
    margin-left:0%;
    margin-top:-10px;
}

img.fig{
    width:60%;
    margin-left:20%;
    margin-right:auto;
}

/*figure {
    display: inline-block;
}
*/
figure.figcaption {
    padding: 10px;
    border: 1px dotted blue;
    text-align: justify;
}


div.content p {
  line-height: 150%;
  width:80%;
  margin-right:auto;
  margin-left:auto;
  font-size: 150%;
}

div.content li {
  margin-left: 15%;
  margin-bottom: 10px;
}

div.content :is(h1, h2, h3, h4, h5, h6) {
    margin-left: 2%;
    font-size:200%;
    padding:15px;
}

div.content blockquote {
    text-align:center;
    margin-left:15%;
    margin-right:15%;
}


/*div.content a:link {
  color: blue;
  text-decoration: underline;
}

div.content a:visited {
  color: red;
  font-weight:bold;
  text-decoration: underline;
}
*/

div.narrow {
  font-family: "Alegreya";
  font-style: normal;
  font-variant: serif;
  line-height: 30px;
  margin-right:35%;
  margin-left:15%;
  font-size: 24px;
}

div.narrow a:link {
  color: blue;
  font-weight:bold;
  background-color: transparent;
  text-decoration: underline;
}

div.narrow a:visited {
  color: red;
  font-weight:normal;
  background-color: transparent;
  text-decoration: underline;
}

div.narrow li{
    margin-bottom: 25px;
}



/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} 

.center {
  display: block;
  margin-left: 30%;
  margin-right: auto;
  width: 30%;
}

/* For the thoughtbox page */

.thumbnail {
  position: relative;
  -ms-zoom: 0.55;
  -moz-transform: scale(0.55);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.55);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.55);
  -webkit-transform-origin: 0 0;
}

.thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.thumbnail iframe {
  width: 60%;
  height: 500px;
  overflow: hidden;
}
